<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    
    <!--Compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Internal CSS Stylesheet-->
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    
    <!--Display Tab Text-->
    <title>Jeff's Legit Library</title>

  </head>
  <body>
    <div class="container">

      <!--Header ELement-->
      <header class="row">  
        <h1 id="logo">JEFF'S LEGIT LIBRARY</h1>
      </header>

      <!--Navigation Element-->
      <nav class="row navbar navbar-default">
        <!--Collapse Side-bar XSmall Screen-->
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#elementID">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>  
        
        <!--Default Bar Small Screen and Above-->
        <div class="collapse navbar-collapse" id="elementID">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li> 
          
            <li><a href="users.html">Users</a></li>
          
            <li><a href="books.html">Books</a></li>
            
            <li><a href="books-extra.html">Extra Fancy Books</a></li>
          </ul>
        </div>
      </nav>
    </div>


      <!-- Table of Books -->
      <div id="SomeApp" class="container">
        <h1 id="bookstable">List of Books</h1>  
        <table class="table">
          <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publish Year</th>
                <th>Publisher</th>
                <th>Page Count</th>
                <th>MSRP</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="book in books">
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                  <td>{{ book.publishYear }}</td>
                  <td>{{ book.publisher }}</td>
                  <td>{{ book.pageNumber }}</td>
                  <td>{{ prettyDollar(book.msrp) }}</td>
                  <td>
                    <button type="button" class="btn btn-success btn-sm"
                      v-on:click="handleEditBook(book)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm"
                      v-on:click="postDeleteBook(book)">Delete</button>
                  </td>
              </tr> 
          </tbody> 
        </table>

        <!-- Book Form -->
        <h2 id="formtitle">{{selectedBook === null ? "Add " : "Edit " }}Book</h2>
        <form v-on:submit.prevent="postBook">
          <div class="mb-3">
            <label for="title" class="form-label">Book Title</label>
            <input type="text" v-model="bookForm.title" class="form-control" id="title">
          </div>

          <div class="mb-3">
            <label for="author" class="form-label">Author Name</label>
            <input type="text" v-model="bookForm.author" class="form-control" id="author">
          </div>

          <div class="mb-3">
            <label for="publishYear" class="form-label">Publish Year</label>
            <input type="number" v-model="bookForm.publishYear" class="form-control" id="publishYear">
          </div>

          <div class="mb-3">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" v-model="bookForm.publisher" class="form-control" id="publisher">
          </div>

          <div class="mb-3">
            <label for="pageNumber" class="form-label">Page Count</label>
            <input type="number" v-model="bookForm.pageNumber" class="form-control" id="pageNumber">
          </div>

          <div class="mb-3">
            <label for="msrp" class="form-label">MSRP</label>
            <input type="number" v-model="bookForm.msrp" class="form-control" id="msrp">
          </div>

          <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add" : "Edit" }} Book</button>
          <button type="button" class="btn btn-danger" v-if="selectedBook" v-on:click="handleResetEditBook">Cancel</button>

        </form>

      </div>
      <br>
      <br> 

      <!--Footer Element-->
      <div class="container">
        <footer class="row">
          Jeffrey Yu Legit Library &copy; 2021 Copyright 
        </footer>
      </div>
      

      <!-- Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
      
      <script src="js/index.js"></script>
  </body>
</html>